@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding:0;			
}
li,a, button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;		
}
td{
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #24252A;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #CFE65E;
}
h3{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
}
.nav__links{
	list-style: none;
}
.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}
.nav__links li a{
	transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
	color: #0088a9;
}
.Drop_menu{
	display: none;
	position: absolute;
	min-width: 158px;
	z-index:1;
	background-color: #24252A;
}
.Drop_menu a:hover{
	background-color: #000;
	color: #fff;
}
.rolagem{
	position: relative;
	float: right;
}
.rolagem:hover .Drop_menu{
	display:block;
			
}
.rolagem:hover button{
	background-color: rgba(0,136,169,0.8);
	border: none;
			
}
button{
	padding: 9px 25px;
	background-color: transparent;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.button{
	border: none;
	border-radius: 50px;
	padding: 9px 25px;
	background-color: #24252A;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
}
.button:hover{
	background-color: #808080;
	cursor: pointer;
}
table{
	display: flex;
	justify-content: center;
	align-items: center;
}
.title{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #24252A;
	text-decoration: none;
}
input{
	border: none;
	border-radius: 100px;
	background-color: #D6DFDE;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #000000;
}
.wrapper {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-column-gap: 10px;
	 grid-row-gap: 1em;
	 justify-content: center;
}
.pesquisa{
	display : none;
}
.title{
	color: #24252A;
	align-items: center;
}
.bike:hover img{
	-moz-transform: scale(1.1);
  	-webkit-transform:scale(1.1);
  	transform: scale(1.1);
}